<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kp.bright.whatsapptickers"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsappSticker"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <receiver-->
<!--            android:name=".stickersmanage.CacheRefreshReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.kp.bright.whatsapptickers.ACTION_REFRESH_CACHE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!--        <provider-->
        <!--            android:name=".whatsappsticker.StickerContentProvider"-->
        <!--            android:authorities="com.kp.bright.whatsapptickers.provider"-->
        <!--            android:exported="true"-->
        <!--            android:enabled="true"-->
        <!--            android:readPermission="com.whatsapp.sticker.READ"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/provider_paths" />-->
        <!--        </provider>-->

        <provider
            android:name=".whatsappsticker.StickerContentProvider"
            android:authorities="com.kp.bright.whatsapptickers.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.whatsapp.sticker.READ">
            <!--            <meta-data-->
            <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
            <!--                android:resource="@xml/sticker_provider_paths" />-->
        </provider>


    </application>

</manifest>